html, body{
    width: 100%;
    height: 100%;
    margin:0;
}

.bg-red{
    background: #eb4141;
    width:20vw;
    margin:0;
    color: white;
    font-size: 1.5em;
}

.bg-grey{
    background: #ECECEE;
    width: 80vw;
    margin:0;
    color: #82349A;
    font-size: 1.5em;
}

.bg-purple{
    background: #7B2996;
    color: white;
    width: 20%;
}

.bg-purple-l{
    background: #F7F3F9;
    padding: 20px;
}

.bg-orange{
    background: #FFBC87;
    color: white;
    font-size:1.3em;
    text-align: center;
}

.bg-orange-dark{
    background: #FFAF71;
    color: white;
    text-align: center;
    font-size: .7em;
    padding: 10px;
}

.spacing{
    margin-left: 10vw;
}

.ribbon{
    height: 45px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.container{
    width: 90%;
    height:100%;
}

.container-explorare{
    width:95%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 60% 20%;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    padding-left: 33px;
}

.last-paragraph{
    margin-top: 49px;
    margin-bottom: 5px;
}

.first-paragraph{
    margin-bottom:21px;
}

.container-explorare ul{
    margin: 0;
    padding: 0;
}

.container-explorare div p{
    margin-bottom: 6px;
    margin-top:6px;
}

.lesson-heading{
    font-size: 2em;
    color:#FF7D24;
    margin-bottom: 30px;
    margin-top: 60px;
}

.exercise-heading{
    margin-bottom:0;
    height: 7vh;
    width: 40vw;
    color: white;
    font-size: 1.5em;
    margin-top:60px;
    padding-left: 5px;
}

.font-purple{
    color: #7B2996;
}

.bold{
    font-weight: bold;
}

ul{
    list-style: none;
}

li::before{
    content: "■";
    color: #B58FC7;
    padding-right: 4px;
}

.bg-purple-l textarea, input{
    background: #B58FC7;
}

.bg-purple-l input{
    background: #B58FC7;
    font-size: .6em;
}

.bg-purple-l textarea:focus{
    background: #B58FC7;
}

.bg-purple-l input:focus{
    background: #B58FC7;
}

.bg-purple-l input::placeholder{
    color: white;
}


.bg-purple-l .form-control:focus{
    border-color: #d3b1b4;
    box-shadow: 0 0 0 0.2rem #d3b1b4;
}

.bg-blue{
    background: #0090D3;
}

.bg-blue-l{
    background: #F1F8FD;
    padding: 20px;
}

.bg-blue-l textarea{
    background: #C6E5F6;

}

.bg-blue-l textarea:focus{
    background: #C6E5F6;
    border-color: #d3b1b4;
    box-shadow: 0 0 0 0.2rem #d3b1b4;
}

.font-blue{
    color: #0090D3;
}

.container-aplicatii{
    width:95%;
    display: flex;
    flex-direction: row;

}

.container-aplicatii h3{
    width: 30vw;
    margin-bottom: 0;
    font-size: 1em;
}

.container-aplicatii h4{
    width: 10vw;
    height: 8%;
    vertical-align: middle;

}

.container-aplicatii span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.container-aplicatii col{
    display: flex;
    flex-direction: row;
}


.col div{
    display: flex;
}
.col div h4{
    margin-bottom: 2.39rem;
    height: inherit;
}

.col textarea{
    margin-bottom: 2.4rem;
}

.aplicatii-control{
    width: 30vw;
    font-size: .6em;
    height: 10vw;
    border: none;
    padding:3px;
}

.header{
    display: flex;
}

.bg-orange textarea{
    font-size: .7em;
    color: #0090D3;
}

.col2{
    display: flex;
    flex-direction: column;
}

svg{
    position: absolute;
    width:70px;
    height: 70px;
    margin-left: 5px;
    margin-right:10px;
    margin-top:50px;
}

@media only screen and (max-width: 700px) {

    .container{
        width:100%;
        padding-right: 0;
        padding-left: 0;
        max-width:100%;
        height: auto;
    }

    .ribbon{
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .bg-red{
        width:40vw;
    }

    .bg-grey{
        width: 60vw;
    }

    .bg-purple{
        width: 40vw;
    }

    .lesson-heading{
        font-size: 1.3em;
        color:#EB996E;
        margin-bottom: 20px;
    }

    .exercise-heading{
        width: 40vw;
        height: 2%;
        vertical-align: middle;
        margin-bottom: 0;
        padding-left: 8px;
    }

    .bg-purple-l{
        padding: 20px;
    }

    .container-explorare{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .container-explorare input, textarea{
        margin-top: 10px;
        margin-bottom: 7px;
    }

    .container-explorare p{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .first-paragraph{
        margin-bottom: 7px;
    }

    .last-paragraph {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .container-explorare ul{
        padding-left: 0;
    }
}
